<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script type=module src=/scripts/index.js></script>
</head>
<body>
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>
      <div id=about-text class='flex-rows center'>
        <form class=flex-cols> 
          <h1>500</h1>
          <h3 class=black-text style='text-align: center;'>Internal Server Error</h3>
          <h3>.</h3>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
