<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script type=module src=/scripts/index.js></script>
</head>
<body>
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>
      <div id=about-text class='flex-rows center'>
        <!-- TODO(AD) - this is really bad - <p> shouldn't be inside of form.... -->
        <!-- TODO(AD) - rewrite this paragraph and add whatever other information is needed.
                (i.e. group member names (and contact info), sources (bg img), technologies, etc) -->
        <form> 
          <p style='color: black; line-height: 4rem;'>
            AFM Interplanetary is a pioneer in leisure travel to Earth's moon. We have begun offering biweekly space shuttle
            service to the moon, including any and all necessary equipment such as space suits, respirators, and moon boots.
            This website is available for the public to reserve trips on any of our upcoming trips to the moon. Once you have
            created an account you will be able to create, modify, or delete your reservations. Our trips include luxurious
            seating inside the shuttle as well as a brief moonwalk when travellers reach the moon. We hope you'll join us on
            a trip soon!
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
