<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=/scripts/index.js></script>
</head>
<body>
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>
    </div>
  </div>
</body>
</html>