<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=/scripts/login.js></script>
</head>
<body>

  <!-- page layout divs -->
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>

      <!-- nav bar and website title -->
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>

      <!-- form layout div -->
      <div id=form-div class='flex-rows center'>
        <form class=flex-cols action=/ method=post>

          <!-- form header -->
          <h2 class=no-margin-top>Login</h2>

          <!-- form fields -->
          <span id=username_field_container></span>
          <span id=password_field_container></span>
          <%- include('./partials/_show_pass'); %>
          <input  id=submit-login type=submit   name=submit-login value=Login on>

          <!-- reset password link -->
          <a href=/reset>Forgot your password?</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>