<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=login.js></script>
</head>
<body>
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>
      <div id=form-div class="flex-rows center">
        <form class=flex-cols action=/ method=post>
          <h2 class=no-margin-top>Login</h2>
          <input id=username type=text name=username placeholder=Username>
          <div class=left-justify-children> 
            <p class=form-error id=username-error></p>
          </div>
          <input id=password type=password name=password placeholder=Password>
          <div class=left-justify-children> 
            <p class=form-error id=password-error></p>
          </div>
          <input id=submit-login type=submit value=Login on>
          <a href=/reset>Forgot your password?</a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>