<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=reservation.js></script>
</head>
<body>
  <!-- page layout divs -->
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>

      <!-- nav bar and website title -->
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>

      <!-- form layout div -->
      <div id=form-div class='flex-rows center'>
        <form class=flex-cols action=/ method=post>

          <!-- form header -->
          <h2 class=no-margin-top>New Reservation</h2>
          
          <!-- form fields -->
          <input type=text id=trip_date name=trip_date placeholder='Select Trip Date'>
          <div hidden id=editing_msg style='color: darkgoldenrod'>
            You are editing an existing reservation.
          </div>
          <div class=flex-rows>
            <select hidden class=center id=num_passengers name=num_passengers><option value=0>Select Number of Passengers</option></select>
            <label hidden for=num_passengers>passenger(s)</label>
          </div>
          <div id=seat_selection_container></div>
          <input id=submit-form type=submit value='Submit' on>
        </form>
      </div>
    </div>
  </div>
</body>
</html>