<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=/scripts/signup.js></script>
</head>
<body>

  <!-- page layout divs -->
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>

      <!-- nav bar and website title -->
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>

      <!-- form layout div -->
      <div id=form-div class='flex-rows center'>
        <form class=flex-cols action=/ method=post>

          <!-- form header -->
          <h2 class=no-margin-top>Sign Up</h2>

          <!-- form fields -->
          <span id=username_field_container></span>
          <span id=password_field_container></span>
          <span id=password_confirm_field_container></span>
          <%- include('./partials/_show_pass'); %> 
          <span id=security_question_container></span>
          <span id=security_question_answer_container></span>
          <input  id=submit-signup            type=submit   name=submit-signup            value='Create Account' on>
        </form>
      </div>
    </div>
  </div>
</body>
</html>