<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/_head_meta'); %>
  <script src=/viewreservation.js></script>
  <style>
    table,
    td,
    tr,
    th {
      border: 1px solid lightgray;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
  <!-- page layout divs -->
  <div id=main class=flex-rows>
    <div id=main-column class=flex-cols>

      <!-- nav bar and website title -->
      <%- include('./partials/_nav'); %>
      <%- include('./partials/_header'); %>

      <!-- layout div -->
      <div id=form-div class='flex-rows center'>
        <form class=flex-cols action=/ method=post>

          <!-- header -->
          <h2 class=no-margin-top>Existing Reservations</h2>

          <!-- form fields -->
          <table id=reservation_display hidden>
            <tr>
              <th><br>Trip Date</th>
              <th>Number of Passengers<hr>Seats</th>
              <th><br>Created</th>
              <th><br>Updated</th>
            </tr>
          </table>

          <div hidden id=no_reservation class=black-text>No reservations currently exist. <a href=/reservation>Create one?</a></div>
          <!-- <input type=text id=trip_date name=trip_date placeholder='Select Trip Date'>
          <div class=flex-rows>
            <select hidden class=center id=num_passengers name=num_passengers><option value=0>Select Number of Passengers</option></select>
            <label hidden for=num_passengers>passenger(s)</label>
          </div>
          <input id=submit-form type=submit value='Submit' on> -->
        </form>
      </div>
    </div>
  </div>
</body>
</html>
