<!-- for website title font -->
<link rel=preconnect href=https://fonts.googleapis.com>
<link rel=preconnect href=https://fonts.gstatic.com crossorigin>
<link href='https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@85,302;85,699&display=swap' rel=stylesheet>

<!-- css -->
<link rel=stylesheet href=/styles/main.css>

<!-- jquery -->
<script src=https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js></script>
<link rel=stylesheet href=https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css>
<script src=https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js></script>

<!-- webpage title -->
<title>AFM Interplanetary</title>
