<div class=flex-rows style='align-items: center;'>
  <input style='height: 1.5rem; width: 1.5rem' id=show-pass type=checkbox name=show-pass>
  <label style='margin: 0' id=show-pass-label for=show-pass>Show Password</label>
</div>